.nav-menu-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  margin: 0.75rem 0;
  width: 100%;
  font-weight: semi-bold;
  transition: color 0.2s ease-in-out;
}

.nav-menu-item:hover {
  color: #D1B7F1;
  cursor: pointer;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.nav-item-content {
  overflow-x: hidden;
  width: 100%;
  transition: width 0.2s ease-in-out;
}

.collapsed {
  width: 0%;
}

.current-page {
  color: #3C2E5F;
  border-right: 4px solid #3C2E5F;
}

.current-page:hover {
  color: #3C2E5F;
}