.navigation {
  padding: 48px 24px 36px;
  min-height: 100vh;
  width: 250px;
  border-right: 1px solid gray;
}

.nav-heading {
  display: flex;
  align-items: center;
}

.logo {
  width: 1.5rem;
  height: 1.5rem;
}

.nav-arrow {
  margin-left: auto;
}
