.game-board {
  margin: 1rem;
  width: 320px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 4px;
  row-gap: 4px;
  background-color: #E3E3EB;
}
